.nav-header {
  display: flex;
  justify-content: center; 
  background-color: #7ccaf4;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.nav-header a {
  text-decoration: none; 
  color: var(--clr1bg);
  margin: 0 15px; 
  font-size: 22px; 
  font-weight: 500; 
  transition: color 0.3s; 
}

.nav-header a:hover {
  color: #f2517c; 
}

.nav-header a.active {
  color: #0400ff; 
}
.logo {
  width: 150px;

  position: relative;
  top: -41px;
  left: 50px;
}
